<!DOCTYPE html>
<html>
  <head>
    <title>Confirm your account</title>
    <link href="/css/loader.css" rel="stylesheet" type="text/css">
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/login-register.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%- include('../loader.ejs')%>
    <div class="inner">
      <%- include('logMenu.ejs') %>
      <div id="content">
        <h1>Confirm your account</h1>
        <div>
          <p>The account was created</p>
          <p>An email was send with the confirmation link</p>
          <button>Resend</button>
        </div>
      </div>
    </div>
  </body>
</html>