<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/login-register.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%- include('logMenu.ejs') %>
    <div id="content">
      <h1>Login</h1>
      <div>
        <form action="/user/login" method="POST">
          <input name="username" type="text" placeholder="Username" />
          <input name="password" type="password" placeholder="Password" />
          <input type="submit" value="Login" />
        </form>
        <br/>
        <a href="#">Forgot password</a>
      </div>
    </div>
  </body>
</html>
