<!DOCTYPE html>
<html>
  <head>
    <title>Display Bottle</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
  </head>

  <body>

  </body>

</html>