<!DOCTYPE html>
<html>
  <head>
    <title>Flacon Millénium</title>
    <link href="/css/flaconMilleniumDefault.css" rel="stylesheet" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" type="text/css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%- include('menu.ejs') %>
    <div id="content">
      <h1>Welcome <%= name %></h1>
      
    </div>
  </body>
</html>
