<ul class="menu">
  <li><a href="/"><%= name %></a></li>
  <li><a href="/user/list">User list</a></li>
  <li><a href="/forum/comment">Forum</a></li>
  <li><a href="/storage/list">view storage</a></li>
  <li><a href="/storage/add">add storage</a></li>
  <li class="rightSide"><a href="/user/logout">Logout</a></li>
</ul>
<% if(typeof alert !== 'undefined') { %>
  <script>alert("<%= alert %>");</script>
<% } %>