<!DOCTYPE html>
<html> 
  <head>
      <title>Menu</title>
  </head>
  <body> 
    <h3>Welcome <%= name %></h3>
     <a href="/forum/comment">Forum</a><br>
     <a href="/user/logout">Logout</a>
  </body> 
</html>