table {
  width: 50%;
  table-layout: auto; 
}
td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.95em;
  line-height: 1.4;
  border-bottom: 1px solid #ddd;
  /*text-align: left;*/
}

.information{
  font-size: 115%;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-flow: column;
}

#gif{
  width:20%;
  position:relative;
  height: 0;
  padding-bottom: 15%;
  margin-left: 30%;
}

#comment{
  padding: 2%;
  background-color: gray;
  text-align: center;
  display: flex;
  flex-flow: column;
  border-style: double;
}
.history{
  display: flex;
  justify-content: space-evenly;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}